.character-details-card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 300px;
    margin: 20px auto;
    font-family: Arial, sans-serif;
}

.character-details-card img {
    width: 100%;
    height: auto;
}

.character-details-card .details {
    padding: 20px;
}

.character-details-card .details h2 {
    margin: 0 0 10px;
    font-size: 24px;
    color: #333;
}

.character-details-card .details p {
    margin: 0;
    font-size: 16px;
    color: #666;
}

.button-voltar {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
  }
  
  .voltarButton {
    background-color: black;
    font-weight: bold;
    color: white;
    padding: 1rem 2rem;
    cursor: pointer;
    position: relative;
    display: inline-block;
    text-align: center;
    user-select: none;
    transition: background-color 0.3s ease;
    clip-path: polygon(0 0, 100% 0, 100% calc(100% - 20px), calc(100% - 20px) 100%, 0 100%);
  }
  
  .voltarButton:hover {
    background-color: red;
  }
  
  .voltarButton::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 2px solid transparent;
    pointer-events: none;
  }